## Grouping students based on their performance using K Means Clustering

In [700]:
# import all the required libraries
import numpy as np
import pandas as pd
import random

# Setting a seed
random.seed(42)

In [701]:
# obtain the raw csv 
data = "../assets/data/student_marksheet.csv"
marksheet_df = pd.read_csv(data)

In [702]:
print(marksheet_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       250 non-null    int64
 1   Name     250 non-null    object
 2   Gender   250 non-null    object
 3   Age      250 non-null    int64
 4   Section  250 non-null    object
 5   Science  250 non-null    int64
 6   English  250 non-null    int64
 7   History  250 non-null    int64
 8   Maths    250 non-null    int64
dtypes: int64(6), object(3)
memory usage: 17.7+ KB
None

In [703]:
print(marksheet_df.head())

   id     Name  Gender  Age Section  Science  English  History  Maths
0   1  Bronnie  Female   13       C       21       81       62     49
1   2   Lemmie    Male   15       B       29       41       17     40
2   3    Danya  Female   14       C       12       87       16     96
3   4    Denna  Female   14       B       15       53       82     33
4   5  Jocelin    Male   14       A       43        6        3     21

In [704]:
# Identifying categorical features
print(marksheet_df["Gender"].unique())
print(marksheet_df["Section"].unique())
print(marksheet_df["Age"].unique())

['Female' 'Male']
['C' 'B' 'A']
[13 15 14]

In [ ]:
# Removing gender and sec column because it will not be used to group students
marksheet_df.drop(["Gender"], axis=1, inplace=True)

In [692]:
marksheet_df["Gender"].replace({"Female": 0, "Male": 1}, inplace=True)
marksheet_df["Section"].replace({"A": 0, "B": 1, "C": 2}, inplace=True)
marksheet_df["Age"].replace({"13": 0, "14": 1, "15": 2}, inplace=True)

In [693]:
print(marksheet_df.shape)
print(marksheet_df.head())

(250, 8)
   id     Name  Age  Section  Science  English  History  Maths
0   1  Bronnie   13        2       21       81       62     49
1   2   Lemmie   15        1       29       41       17     40
2   3    Danya   14        2       12       87       16     96
3   4    Denna   14        1       15       53       82     33
4   5  Jocelin   14        0       43        6        3     21

In [694]:
# # Normalizing the data
# normalizable_cols = ["Age", "Section", "Science", "English", "History", "Maths"]
# X_mean = []
# X_std = []

# for col in normalizable_cols:
#     mean = np.mean(marksheet_df[col])
#     std = np.std(marksheet_df[col])

#     marksheet_df[col] = (marksheet_df[col] - mean)/std

#     X_mean.append(mean)
#     X_std.append(std)

#     print(f'Mean value of column {col}: {mean}')
#     print(f'Standard deviation of column {col}: {std}')

In [695]:
marksheet_df.head()

   id     Name  Age  Section  Science  English  History  Maths
0   1  Bronnie   13        2       21       81       62     49
1   2   Lemmie   15        1       29       41       17     40
2   3    Danya   14        2       12       87       16     96
3   4    Denna   14        1       15       53       82     33
4   5  Jocelin   14        0       43        6        3     21

In [696]:
# In this scenario, we aim to create groups of students according to their performance.
K = 50

In [697]:
# Initialize the centroids randomly
centroids = set()

while(len(centroids) != K):
    random_index = random.randint(0, len(marksheet_df)-1)
    z = tuple(marksheet_df.iloc[random_index, -6:])
    centroids.add(z)

# Convert the set to a list
centroids = list(centroids)

# print("Initial Centroids: ")
# for i in range(K):
#     print(centroids[i])

Initial Centroids:
(13, 0, 7, 29, 30, 23)
(14, 0, 50, 22, 50, 78)
(13, 0, 17, 99, 29, 85)
(14, 2, 22, 26, 1, 28)
(14, 2, 58, 60, 7, 90)
(13, 1, 55, 99, 8, 72)
(14, 0, 82, 4, 56, 22)
(14, 2, 95, 56, 4, 100)
(13, 0, 76, 96, 67, 17)
(15, 2, 54, 89, 59, 88)
(13, 1, 81, 25, 99, 13)
(15, 1, 34, 74, 83, 81)
(15, 0, 22, 86, 9, 38)
(15, 0, 37, 57, 48, 75)
(15, 2, 95, 32, 91, 48)
(14, 2, 72, 51, 50, 11)
(14, 1, 61, 89, 70, 68)
(13, 1, 1, 4, 68, 65)
(13, 2, 36, 95, 55, 46)
(14, 2, 12, 87, 16, 96)
(15, 1, 43, 4, 40, 93)
(13, 0, 81, 45, 22, 36)
(14, 1, 53, 53, 49, 43)
(15, 0, 16, 59, 18, 64)
(15, 2, 91, 33, 71, 81)
(14, 2, 38, 66, 53, 32)
(15, 1, 16, 4, 49, 1)
(15, 0, 66, 20, 76, 30)
(14, 0, 80, 34, 85, 71)
(15, 0, 1, 90, 42, 94)
(14, 0, 64, 1, 74, 6)
(15, 2, 52, 30, 14, 24)
(15, 0, 48, 2, 63, 91)
(14, 2, 59, 94, 94, 47)
(13, 2, 31, 9, 79, 54)
(14, 1, 65, 32, 67, 35)
(15, 2, 13, 35, 71, 30)
(15, 1, 44, 47, 43, 55)
(14, 0, 40, 61, 63, 80)
(15, 2, 3, 49, 67, 96)
(14, 0, 17, 87, 16, 50)
(15, 2, 84, 8, 71, 48)
(15, 2, 52, 39, 37, 3)
(14, 0, 43, 6, 3, 21)
(14, 0, 27, 11, 18, 92)
(15, 0, 60, 42, 49, 25)
(13, 2, 2, 60, 67, 29)
(13, 1, 96, 100, 42, 62)
(13, 1, 5, 3, 97, 84)
(14, 1, 35, 73, 66, 59)

In [698]:
def fit(K, marksheet_df, centroids, num_iterations=50):
    # Initialize clusters
    clusters = [[] for _ in range(K)]
    prev_clusters = [[] for _ in range(K)]

    for m in range(num_iterations):
        # Reset clusters
        clusters = [[] for _ in range(K)]
        
        # Assign each data point to the closest centroid
        for i in range(len(marksheet_df)):
            vec = np.array(marksheet_df.iloc[i, -6:])
            min_dist = float("inf")
            idx = 0
            for j in range(len(centroids)):
                dist = np.sum(np.abs(centroids[j] - vec))
                if dist < min_dist:
                    min_dist = dist
                    idx = j
            clusters[idx].append(i)  # Append index of data point
        
        # Update centroids
        for i in range(len(clusters)):
            if clusters[i]:
                cluster_points = marksheet_df.iloc[clusters[i], -6:]
                centroids[i] = np.mean(cluster_points, axis=0)

        if (m % 10 == 0):
            print(f'Completed iteration {m}')

        # Check for convergence
        if np.array_equal(prev_clusters, clusters):
            break
        else:
            prev_clusters = clusters.copy()

    return clusters, centroids

In [699]:
clusters, centroids = fit(K, marksheet_df, centroids)

Completed iteration 0
Completed iteration 10

KeyboardInterrupt:

In [ ]:
# Print all groups
for i in range(len(clusters)):
    print(f'Cluster {i+1}: ')
    for j in range(len(clusters[i])):
        vec = marksheet_df.iloc[clusters[i][j]]
        print(f'{vec[1]}: {vec[2]} {vec[3]} {vec[4]} {vec[5]} {vec[6]} {vec[7]}')
    print("")

Cluster 1:
Danya: 14 2 12 87 16 96
Gracie: 13 1 93 38 39 93
Benoite: 14 1 3 55 14 90
Livia: 13 2 95 65 25 91
Richie: 15 1 14 83 9 90
Josh: 14 0 54 23 19 94
Brandie: 15 1 43 2 17 78
Everett: 14 0 84 57 25 57
Rollie: 13 0 17 99 29 85
Yardley: 14 2 41 37 26 65
Fanny: 13 2 49 90 13 98
Shannon: 15 1 78 74 31 85
Christan: 14 2 85 6 10 85
Lorrie: 13 0 72 78 40 78
Agace: 15 2 17 75 8 71
Sheffie: 15 2 44 55 51 100
Adolphus: 13 0 19 98 13 86
Silvia: 14 0 40 61 63 80
Woodie: 15 0 37 57 48 75
Rina: 14 2 57 68 13 74
Virgie: 14 1 56 75 5 40
Kath: 14 0 63 74 46 76
Orin: 15 1 70 75 21 99
Fredric: 14 1 68 20 21 81
Alis: 15 0 76 53 32 69
Sarah: 13 1 55 99 8 72
Alard: 13 0 91 12 15 70
Ilaire: 14 2 95 56 4 100
Desmund: 14 0 86 92 8 62
Davidde: 13 2 98 100 23 84
Goldarina: 14 0 27 11 18 92
Ruperto: 14 1 60 55 30 83
Nita: 14 0 92 57 31 75
Baudoin: 14 2 89 59 33 91
Zack: 13 1 72 46 40 90
Buffy: 14 2 58 60 7 90
Tammy: 13 1 81 63 16 62
Stillman: 15 1 50 70 31 98
Ashlin: 14 0 49 47 19 55

Cluster 2:
Jocelin: 14 0 43 6 3 21
Peggy: 13 0 91 45 44 45
Ashlan: 13 1 41 6 17 3
Zarla: 15 1 54 18 46 17
Anna-diane: 15 2 93 53 10 29
Claudina: 14 2 90 62 45 21
Jacenta: 15 2 65 7 57 27
Lyda: 15 2 78 58 1 33
Vinny: 13 1 81 25 99 13
Hinze: 15 0 46 37 63 17
Mufi: 14 2 88 72 31 27
Orrin: 15 2 45 41 26 12
Jody: 15 1 87 45 73 48
Dannel: 15 2 84 85 14 24
Dael: 13 0 43 65 18 26
Brendin: 14 2 72 51 50 11
Cherry: 14 1 82 54 31 18
Coretta: 14 0 41 52 29 21
Shanie: 14 0 80 92 53 30
Bent: 14 1 90 22 2 12
Bennie: 14 1 76 36 32 47
Blisse: 15 1 85 30 50 2
Jehanna: 15 2 77 25 85 26
Ailene: 15 2 52 39 37 3
Bevan: 13 1 52 62 44 10
Isidora: 15 2 52 30 14 24
Danni: 13 1 92 67 13 25
Paten: 15 2 67 88 41 8
Barde: 15 2 58 25 23 39
Pepi: 13 0 100 64 16 20
Margaux: 14 0 94 28 6 9
Ivan: 14 2 95 21 51 33
Guntar: 13 1 92 36 59 48
Moselle: 15 0 87 39 48 53
Sebastian: 15 0 60 42 49 25
Oberon: 15 2 87 21 41 24
Hebert: 15 0 50 48 13 15
Elbertina: 14 0 82 4 56 22
Carol: 14 1 98 13 35 4
Codi: 15 0 57 68 56 23
Nealon: 14 1 84 10 71 8
Kirk: 14 0 71 88 44 13
Tabbi: 13 0 100 95 36 10
Maureene: 14 1 78 63 62 38
Maude: 13 0 81 45 22 36
Alysa: 14 1 65 32 67 35
Nadia: 15 1 98 30 37 56
Kaia: 15 1 93 48 82 44

Cluster 3:
Corrine: 15 0 39 16 22 49
Valaria: 13 1 19 5 78 76
Missy: 13 1 98 18 84 74
Gilberta: 15 0 53 30 90 64
Hanan: 14 0 60 36 86 87
Adrian: 13 2 19 8 76 75
Arvie: 15 1 26 46 81 63
Teddy: 14 0 50 22 50 78
Karrie: 14 0 94 15 66 34
Skipp: 14 2 31 37 77 79
Issie: 14 0 64 1 74 6
Drusi: 15 2 39 7 100 70
Bil: 15 2 95 32 91 48
Sascha: 13 1 85 10 62 62
Cherie: 15 2 32 31 89 30
David: 13 1 27 2 63 100
Elton: 13 1 13 18 80 82
Amabel: 14 0 59 12 45 64
Eugine: 13 2 34 18 39 94
Ranee: 15 0 58 16 64 67
Cobby: 15 2 64 20 86 84
Ario: 14 0 64 18 73 37
Georgia: 15 0 58 10 99 44
Loella: 15 0 66 20 76 30
Alvin: 13 1 80 28 53 67
Jocelyne: 14 2 62 4 75 32
Chris: 13 2 23 13 28 69
Alyse: 14 0 80 34 85 71
Pat: 15 0 29 6 43 85
Hector: 13 2 5 10 75 38
Cristian: 13 1 5 3 97 84
Guido: 13 2 63 12 69 41
Brien: 15 1 43 4 40 93
Milo: 14 0 47 16 55 21
Emlyn: 14 2 32 3 69 96
Aldin: 13 2 72 24 83 62
Hali: 13 2 67 21 60 40
Keeley: 15 2 84 8 71 48
Ermina: 15 1 38 17 76 26
Shalom: 14 1 63 9 91 88
Amber: 15 2 32 5 53 49
Richard: 13 0 62 42 87 51
Billie: 13 2 53 37 83 64
Purcell: 14 1 75 14 54 68
Alaine: 15 0 48 2 63 91
Jayme: 13 1 39 14 77 53
Olivia: 13 1 48 4 79 76
Norri: 14 1 45 21 61 13
Fannie: 14 2 49 48 81 44
Davis: 13 0 56 12 75 96
Reg: 15 0 85 8 88 82
Tucky: 15 0 87 17 94 41
Romonda: 13 2 84 10 82 93
Kent: 15 2 15 26 83 75
Mortimer: 15 2 91 33 71 81
Fleming: 13 2 31 9 79 54
Lazar: 15 0 54 34 66 97
Claudell: 14 2 76 15 70 35
Rog: 13 1 1 4 68 65
Fernande: 15 1 50 8 80 78

Cluster 4:
Bronnie: 13 2 21 81 62 49
Lemmie: 15 1 29 41 17 40
Denna: 14 1 15 53 82 33
Beverlie: 14 1 25 51 41 80
Tate: 15 2 35 25 37 27
Dory: 13 1 5 89 25 23
Merle: 13 2 5 83 19 39
Jone: 14 0 17 87 16 50
Rae: 15 0 16 59 18 64
Ekaterina: 15 1 17 36 45 27
Tamra: 14 2 17 74 11 49
Tommy: 13 1 5 75 13 61
Johannes: 15 2 10 78 56 41
Ruben: 15 1 15 84 40 40
Tabbie: 15 2 23 44 76 46
Olenka: 14 1 53 53 49 43
Bobbee: 14 2 16 57 90 14
Massimiliano: 14 0 16 45 44 5
Jessamine: 14 1 34 71 35 47
Teresita: 15 0 1 90 42 94
Aubrey: 13 0 8 72 78 14
Linn: 13 2 23 2 42 43
Morganne: 15 0 22 86 9 38
Christoph: 13 2 2 19 48 52
Vaughn: 14 2 11 30 83 17
Abel: 13 0 2 39 13 69
Matt: 15 0 23 65 72 51
Josefa: 13 2 22 78 77 26
Aretha: 13 2 2 60 67 29
Gloria: 14 2 4 37 50 47
Brandise: 13 0 18 100 39 8
Starlin: 14 2 3 31 34 45
Lindsay: 15 0 19 14 43 68
Berget: 13 2 10 29 21 13
Ricky: 13 1 21 65 90 4
Susi: 13 0 23 41 49 79
Page: 15 1 44 47 43 55
Fidelia: 15 2 35 39 61 9
Dory: 13 1 23 5 39 42
Ezekiel: 13 0 14 6 29 72
Estel: 14 2 38 66 53 32
Darya: 15 2 13 35 71 30
Codi: 14 2 30 62 32 60
Willem: 13 2 7 47 39 16
Alasteir: 13 0 7 29 30 23
Vivyan: 14 0 28 30 80 33
Elyn: 15 0 5 86 48 57
Ericka: 14 0 6 53 71 21
Blake: 15 1 16 4 49 1
Josepha: 14 2 22 26 1 28
Ginnifer: 14 2 4 15 6 32
Raimund: 15 2 2 4 48 46
Janey: 15 2 3 49 67 96
Morrie: 13 1 17 24 41 21
Jesselyn: 15 2 11 53 15 13
Nickie: 13 2 28 15 25 10

Cluster 5:
Malissa: 14 2 98 51 85 76
Ichabod: 14 1 38 74 54 60
Dunn: 15 2 100 93 87 81
Merrick: 15 0 65 89 96 34
Opalina: 13 1 62 77 75 72
Amery: 13 0 76 96 67 17
Valma: 14 2 48 83 79 95
Charmine: 14 0 93 93 83 40
Adah: 13 0 71 90 78 35
Luelle: 13 1 100 52 89 76
Hetty: 13 1 21 89 72 84
Lief: 15 1 55 64 56 69
Winslow: 14 1 61 71 77 64
Nil: 15 0 84 97 70 96
Jaymie: 14 2 48 59 60 58
Bethena: 13 1 46 89 83 64
Rosalynd: 13 2 27 96 89 49
Brien: 13 2 36 95 55 46
Daffi: 15 0 79 82 99 81
Hildegaard: 14 0 64 68 89 43
Jeannie: 13 1 68 97 31 48
Patrizia: 13 0 79 88 96 93
Susy: 15 1 28 94 61 72
Eadmund: 13 0 23 88 90 68
Tymothy: 13 2 13 73 76 95
Humfrid: 13 1 96 100 42 62
Emmanuel: 14 1 77 79 92 36
Jaquenette: 15 2 33 75 98 84
Adrianne: 15 2 51 67 67 91
Inger: 13 1 53 95 75 81
Herold: 13 0 92 97 62 69
Candide: 15 0 26 76 56 75
Reagan: 14 0 73 71 87 30
Patty: 14 1 61 89 70 68
Fran: 15 1 34 74 83 81
Rosamond: 15 2 55 62 57 56
Val: 13 1 95 73 91 61
Ruddie: 15 1 84 97 88 64
Rosalyn: 15 2 54 89 59 88
Zenia: 14 2 59 94 94 47
Evangelin: 15 2 63 92 38 60
Betteann: 13 2 68 79 71 41
Natty: 13 0 60 52 85 39
Leda: 15 1 92 76 72 71
Britt: 15 2 92 87 38 53
Domingo: 13 2 95 63 65 71
Anni: 14 1 35 73 66 59